h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.bio {
    margin-left: 15px;
    line-height: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
#op {
    margin-right: 85%;
}
.Unity {
    margin-right: 70%;
    margin-left: 1%;
    text-align: left;
}
body {
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
